<div class="section">
	<div class="ui container">
		<div class="ui one column grid">
			<div class="center aligned column">
				
				<div class="client-logo">
					<object class="suzuki" type="image/svg+xml" data="images/svg-src/suzuki.svg" data-sr>
				    <img class="suzuki" src="images/suzuki.png" alt="suzuki" data-sr>
				  </object>
				  <object class="axiola" type="image/svg+xml" data="images/svg-src/axiola.svg" data-sr>
				  	<img class="axiola" src="images/axiola.png" alt="suzuki" data-sr>
				  </object>
				  <object class="volvo" type="image/svg+xml" data="images/svg-src/volvo.svg" data-sr>
				  	<img class="volvo" src="images/volvo.png" alt="suzuki" data-sr>
				  </object>				  
				</div>
			
			</div>
		</div>
	</div>
</div>