<div class="section hero-section background-green text-white">
	<div class="ui container">

		<header>
			<div class="ui centered grid">

				<div class="four wide computer four wide tablet column center aligned">
          <div class="ui text menu">
            <a href="/" class="item">WEPRO.CO</a>
            <a href="#" class="item support-link">Support</a>
          </div>
        </div>

				<div class="four wide column center aligned">
          <div class="logo center aligned">
            <a href="/">
              <object id="wp-logo" type="image/svg+xml" data="images/svg-src/wepro-logo.svg">
                <img src="images/wepro-logo.png" alt="WePro Co.">
              </object>
            </a>
          </div>
        </div>

        <div class="four wide computer only four wide tablet only column aligned">
          <div class="ui text menu support-links">
            <a href="mailto:hello@wepro.co" class="item">hello@wepro.co</a>
          </div>
        </div>

			</div>
		</header>
		

		<div class="ui centered grid">
      <div class="ui row">

        <div class="center aligned thirteen wide column">
          <h1 id="main-head">High quality markup on your PSD designs</h1>

          <p class="text-medium">Starting at just <span>$89</span> for a responsive website</p>
          <a href="#" id="cta" class="ui yellow huge button" data-scrollto="#contact-section" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">Get started with a trial project</a>
        </div>

      </div>
    </div>

	</div>
</div>