<div class="section" id="pitch">
  <div class="ui container">
    
    <div class="ui one column grid">
      <div class="center aligned column">
        <h2 class="title">Delivering handcrafted code to clients from around the globe</h2>

        <p class="subtitle">Let us take care of your front-end work so you can focus on growing your business!</p>
      </div>
    </div>

    <div id="pitches" class="ui column grid centered">
      <div class="ui row">

        <div class="four wide computer four wide tablet sixteen wide phone center aligned column">
          <object id="my-svg1" type="image/svg+xml" data="images/svg-src/basic_picture_multiple.svg">
            <img src="images/basic_picture_multiple.png" alt="professional team">
          </object>
          
          <div class="pitch-desc" data-sr="wait 0.2s, enter bottom">
            <h5>Web standards compliance</h5>
            <p>What you get is a cross-browser/device compatible and W3C compliant code.</p>
          </div>
        </div>

        <div class="four wide computer four wide tablet sixteen wide phone center aligned column">
          <object id="my-svg2" type="image/svg+xml" data="images/svg-src/basic_headset.svg">
            <img src="images/basic_headset.png" alt="professional team">
          </object>

          <div class="pitch-desc" data-sr="wait 0.4s, enter bottom">
          <h5>Friendly &amp; courteous team</h5>

          <p>You get to work with a professional team of experts.</p>
          </div>
        </div>

        <div class="four wide computer four wide tablet sixteen wide phone center aligned column">
          <object id="my-svg3" type="image/svg+xml" data="images/svg-src/ecommerce_receipt_dollar.svg">
            <img src="images/ecommerce_receipt_dollar.png" alt="professional team">
          </object>

          <div class="pitch-desc" data-sr="wait 0.6s, enter bottom">
          <h5>Money-back Guarantee</h5>

          <p>Not satisfied with the results? We give your money back no questions asked.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>