<div class="section testimonial">
	<div class="ui container">

		<div class="ui one column grid">
      <div class="center aligned column">
        <h2 class="title">What our clients have to say?</h2>

        <p class="subtitle">We love our customers. Their success is our success!</p>
      </div>
    </div>


		<div class="ui column grid centered">
			<div class="ui row">

				<div class="item six wide computer six wide tablet sixteen wide phone center aligned column" data-sr="wait 0.2s, enter bottom">  
          <div class="ui message">
            <p>The team did a fantastic job with the latest technology even when provided with limited designs. Would definitely work with Louis and his team again.</p>
          </div>

          <img src="images/mrinal.jpg" alt="client">
          <h5>Mrinal Murari</h5>
        </div>

        <div class="item six wide computer six wide tablet sixteen wide phone center aligned column" data-sr="wait 0.2s, enter bottom">  
          <div class="ui message">
            <p>Works fast and responded quickly with updates. Good quality work and I will use again and can recommend.</p>
          </div>

          <img src="images/matt.jpg" alt="client">
          <h5>Matt Taylor</h5>
        </div>

			</div>
		</div>
	</div>
</div>