<div class="section" style="background-color: #f4f4f4">

	<div class="ui container">
		<div class="ui one column grid">
			<p class="work-lead-cap">We live to add value to brands and businesses using our digital creativity and bringing in awesome talented individuals who is passionate on the success of your story.</p>
		</div>
	</div>
	
</div>

<div class="work-wrap" style="background-color: #f4f4f4">
	
	<a class="half work-item" href="/work/axiola/" target="_blank" rel="nofollow">
    <figure class="work-effect module50">
      <img src="images/1.jpg" alt="WePro Work">
      <figcaption>
        <div>
          <h2>Axiola</h2>
          <h3 class="work-category">Zurb Foundation</h3>
        </div>
      </figcaption>
    </figure>
  </a>

  <div class="work-item half">
    <a class="work-item full" href="/work/suzuki/" target="_blank" rel="nofollow">
      <figure class="work-effect module100">
        <img src="images/2.jpg" alt="WePro Work">
        <figcaption>
          <div>
            <h2>Suzuki</h2>
            <h3 class="work-category">Bootstrap</h3>
          </div>
        </figcaption>
      </figure>
    </a>
    <a class="work-item full" href="/work/volvo/" target="_blank" rel="nofollow">
      <figure class="work-effect module100">
        <img src="images/3.jpg" alt="WePro Work">
        <figcaption>
          <div>
            <h2>Volvo</h2>
            <h3 class="work-category">Bootstrap</h3>
          </div>
        </figcaption>
      </figure>
    </a>
	</div>

	<a class="work-item half" href="/work/skoda/" target="_blank" rel="nofollow">
	  <figure class="work-effect module100">
	    <img src="images/4.jpg" alt="WePro Work">
	    <figcaption>
	      <div>
	        <h2>Skoda</h2>
	        <h3 class="work-category">Bootstrap</h3>
	      </div>
	    </figcaption>
	  </figure>
	</a>

	<div class="work-item half">
		<a class="work-item half" href="/work/soapmaker/" target="_blank" rel="nofollow">
		  <figure class="work-effect module100">
		    <img src="images/5.jpg" alt="WePro Work">
		    <figcaption>
		      <div>
		        <h2>Soapmaker</h2>
		        <h3 class="work-category">Bootstrap</h3>
		      </div>
		    </figcaption>
		  </figure>
		</a>

		<a class="work-item half" href="https://taskforcenow.com" target="_blank" rel="nofollow">
		  <figure class="work-effect module100">
		    <img src="images/6.jpg" alt="WePro Work">
		    <figcaption>
		      <div>
		        <h2>Taskforce Now</h2>
		        <h3 class="work-category">WordPress</h3>
		      </div>
		    </figcaption>
		  </figure>
		</a>
	</div>

</div>